
page-login {
   
    .img{
    background-image:linear-gradient(#F53D4E,#1e2a78), url('../../assets/imgs/video.jpg');
    background-attachment: fixed;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }

    .item{
        background-color: rgba(255, 255, 255, 0.171);
        color: rgb(255, 255, 255);
        width: 80%;
        height: 60px;
        position: relative;
        // left: 2%;
        top: 50px;
        border-radius: 30px;
        padding-left: 7%;
        font-size: 1.5em;
        font-weight: 100;

        ::-webkit-input-placeholder{
            color: rgb(224, 218, 205);
        }

  }

    .list{
        position: relative;
        top: 8%;
    }

    h1{
        color: rgb(236, 217, 217);
        text-align: center;
        padding-top: 5%;
        font-size: 400%;
       font-weight: 100;
    }
    



    .btn{
        width: 80%;
        position: relative;
       bottom: 50%;
        // top: 50px;
        font-weight: 100;
        font-size: 2em;
        height: 60px;
        margin-bottom: 3%;
        
    }

    .btn2{
        height: 60px;
        width: 80%;
        font-size: 2em;
        font-weight: 100;
        

    }

    .btn3{
      margin-top: 10%;
      font-size: 1.5em;
      font-weight: 100;
      

    }

   // splash screen
   .flb {
    background-image:linear-gradient(#F53D4E,#1e2a78), url('../../assets/imgs/video.jpg');
    background-size: cover;
    height:100%;
    width:100%;
    animation: pulse 1s linear forwards;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Aligner-item {
    max-width: 50%;
  }
  .Aligner-item--top {
    align-self: flex-start;
  }
  .Aligner-item--bottom {
    align-self: flex-end;
  }
  #custom-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    width:100%;
    background-color: #002a3e;
  }
  #custom-overlay img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    animation: animation 4100ms linear infinite both ;
    animation-delay: 6s;
  }
#main{
background: linear-gradient(rgba(0, 0, 0, 0.432)), url('../../assets/3f6b0af2345776f5f225a3f030e88726.jpg');
background-size: cover;

} 
  
    p{
        color: white;
        text-align: center;
        position: relative;
        top: 50px;
        font-weight: 100;
    }

 
    .logo{
        color: rgb(236, 217, 217);
        position: relative;
        top: 2%;
     }

     .pass{
         position: relative;
         left: 80px;
        top: 10%;
        }

        .items{
            padding-bottom: 25%;
        }


       
    }

