
page-login {
    font-family: 'Ubuntu', sans-serif;
    .img{
    background-image:linear-gradient(#F53D4E,rgba(0,0,0,0.5)), url('../../assets/imgs/video.jpg');
    background-attachment: fixed;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
 
    .item{
        background-color: rgba(255, 255, 255, 0.192);
        color: white;
        width: 80%;
        text-align: center;
        position: relative;
        left: 11%;
        border-radius: 30px;
         padding-left: 7%;
    }
 
    h1{
        color: rgb(236, 217, 217);
        text-align: center;
        padding-top: 5%;
        font-size: 400%;
       font-weight: 100;
    }
 
   .butt{
       text-align: center;
       margin-bottom: 10%;
   }
 
    .btn{
        width: 80%;
        position: relative;
        left: 10%;
        top: 95px;
 
    }
 
    p{
        color: white;
        text-align: center;
        position: relative;
        top: 50px;
        font-weight: 100;
    }
 
    .logo{
        color: rgb(236, 217, 217);
        position: relative;
        top: 2%;
     }
 
     .pass{
         position: relative;
         left: 80px;
        top: 10%;
        }
    }