page-register {
    font-family: 'Ubuntu', sans-serif;
    .img{
        background-image:linear-gradient(#F53D4E,rgba(0,0,0,0.5)), url('../../assets/imgs/video.jpg');
        background-attachment: fixed;
        background-color: black;
        background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
    }

    .butt{
        text-align: center;
        margin-top: 10%;
        // border-radius: 12px;
        width: 70%;
        position: relative;
        left: 15%;
    }
    .head{
        text-align: center;
    }
    button{
        margin-bottom: 10px;
        // border-radius: 8px;
    }
#but{
    border-radius: 18px;
}
    h1{
        color: rgb(236, 217, 217);
        text-align: center;
        padding-top: 1px;
        font-size: 400%;
       font-weight: 100;
    }
    h2{
        color: rgb(236, 217, 217);
        text-align: center;  
        font-weight: 100;
    }


}
