page-gallery {

    text-align: center;
    width: 150%;
// color: #fff;
ion-title {
    position: absolute;
    // top: 30%;
    font-size: 1.7em;
    width: 100%;
    font-weight: bolder;
    color:white; 
  }
  .col1{
    background-image: url("../../assets/imgs/diamond-wallpaper-10383-10751-hd-wallpapers.jpg");
    background-size: cover;
    // padding-top: 10px;
    // width: 100%;
    height: 25vh;
    // right: 1.5%;
    box-shadow: inset 0px 0px 10px rgb(17, 1, 3); 
    border-radius: 20px;
  }
 .card{
    border-radius: 20px;
     
 }
 .img{
    background-image:linear-gradient(#F53D4E,rgba(0,0,0,0.5)), url('../../assets/imgs/video.jpg');
    background-attachment: fixed;
    // background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
    }
    // ion-grid{
    //     background: gray;
    //     // height:100%;
    //     // width:100%;
    //     // padding: 0;
    // }

    // ion-row{
    //     background: lightgrey;
    //     height: 35vh;
    // }

    // ion-col{
    //     width: 80%;
    //     background: white;
    // }
h1{
    font-size: 28px;
    color: white;
}
}
