page-gallery {
    text-align: center;
    width: 150%;
 ion-title {
    position: absolute;
    font-size: 1.7em;
    width: 100%;
    font-weight: bolder;
    color:white;
  }
  .col1{
    background-image: url("../../assets/imgs/diamond-wallpaper-10383-10751-hd-wallpapers.jpg");
    background-size: cover;
    height: 25vh;
    box-shadow: inset 0px 0px 10px rgb(17, 1, 3);
    border-radius: 20px;
  }
 .card{
    border-radius: 20px;
    height: 30vh;
 
 }
 .img{
    background-image:linear-gradient(#F53D4E,rgba(0,0,0,0.5)), url('../../assets/imgs/video.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 
    }
 
 h1{
    font-size: 28px;
    color: white;
 }
 }