page-logout {
    .img{
        background-image:linear-gradient(#F53D4E,#1e2a78), url('../../assets/imgs/video.jpg');
        background-attachment: fixed;
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        }
}

