page-scout {
    font-family: 'Ubuntu', sans-serif;
ion-card.card{
    border-radius: 12px;
}
.com{
    margin-right: 85px;
}
.time{
    // margin-left: 85%;
}
.pic{
    width: 50%;
    height: 50px;
    // padding: 20px;
}
    .img{
        background-image:linear-gradient(#F53D4E,rgba(0,0,0,0.5)), url('../../assets/imgs/video.jpg');
        background-attachment: fixed;
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        }
        .fabs{
            height: 50px;
            width: 85%;
        }

        h2{
            color: rgb(68, 36, 39);
            font-weight: 100;
        }
        .fabi{
            bottom:1%;
            // left:48vh;
            // margin-bottom: 30%;
            margin-left: 84vw;
            box-shadow: 2px 2px 4px black;
            // top: 0;
            
        }
        // .video{
        //     width: 100px;
        // }



     
        h1{
            color: whitesmoke
        }
        

}
