page-scout {

    .img{
        background-image:linear-gradient(#F53D4E,rgba(0,0,0,0.5)), url('../../assets/imgs/video.jpg');
        background-attachment: fixed;
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        }
        .fabs{
            width: 80%;
        }

        h2{
            color: rgb(68, 36, 39);
            font-weight: 100;
        }
        .fabi{
            bottom:1%;
            left:48vh;
            margin-top: 2%;
            // top: 0;
            
        }
        // .video{
        //     width: 100px;
        // }



       
        

}
