page-recruiter {
    font-family: 'Ubuntu', sans-serif;
    .img{
        background-image:linear-gradient(#F53D4E,rgba(0,0,0,0.5)), url('../../assets/imgs/video.jpg');
        background-attachment: fixed;
        background-color: black;
        background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
    }

ion-label.label{
    color: whitesmoke;
}
.bg{
    background-color:rgba(0,0,0,0.5); 
}
// .logo{
//     // height: 80%;
//     // width: 95%;
//     height: 28vh;
//     border-radius: 15px;
//     text-align: center;
//     border-radius: 15px;
// }
img{
    // box-shadow: 2px 2px 4px; 
    height: 10vh;
    // border-radius: 15px;  
}
.item{
    background-color: rgba(255, 255, 255, 0.192);
    // color: white;
    width: 80%;
    margin-bottom: 10px;
    position: relative;
    right: 15%;
    border-radius: 30px;
    padding: 0.5px;
    padding-left: 7%;
    top: 8px;
    
   
}
.i{
    margin-right: 15px;
   
}
.butt{
    text-align: center;
    position: relative;
    bottom: 9px;
}
.btn{
    width: 60%;
}
h1{
    color: rgb(236, 217, 217);
    text-align: center;
    padding-top: 1%;
    font-weight: 100;
    font-size: 300%;
   
}
// button{
//     // position: relative;
//     // top: 30px;
//     width: 30%;
// }
}
