page-message {

    .img{
        background-image:linear-gradient(#F53D4E,rgba(0,0,0,0.5)), url('../../assets/imgs/video.jpg');
        background-attachment: fixed;
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
<<<<<<< HEAD
 
 
        }
 
 
=======
      
 
        }


>>>>>>> 5ef49cd3f65fc0b5392b237d44ee324470cbed59
    .comments{
        height:50px;
        width: 80%;
        border: 2px solid red;
        border-radius: 30px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
<<<<<<< HEAD
 
 
    }
 
    p{
        font-size: 100%;
    }
 
=======
     
    
    }

    p{
        font-size: 100%;
    }

>>>>>>> 5ef49cd3f65fc0b5392b237d44ee324470cbed59
    .send{
        position: relative;
        left: 300px;
        bottom: 70px;
        width: 20px;
<<<<<<< HEAD
        height: 50px;
        font-size: 150%;
 
    }
 
    .foot{
        height: 70px;
    }
 
    .reply{
        border-radius: 20px;
        min-width: 320px;

 
 
    }
 
    .item{
        position: relative;
 
    }
 
=======
        height: 50px;  
        font-size: 150%;           
       
    }

    .foot{
        height: 70px;
    }

    .reply{
        border-radius: 20px;
        min-width: 320px;
    
        
    }
    
    .item{
        position: relative;
    
    }

>>>>>>> 5ef49cd3f65fc0b5392b237d44ee324470cbed59
    .title{
        background-color: white;
        height: 50px;
        font-weight: 100;
<<<<<<< HEAD
 
    }
 
=======
        
    }

>>>>>>> 5ef49cd3f65fc0b5392b237d44ee324470cbed59
    p{
        font-weight: 200;
        font-size: 70%;
        position: relative;
<<<<<<< HEAD
        // text-align: left;
 
    }
 
=======
        resize: none;
        height: 25px;
                       
    }

>>>>>>> 5ef49cd3f65fc0b5392b237d44ee324470cbed59
    h1{
        text-align: left;
        font-weight: 200;
        font-size: 100%;
        text-align: center;
    }
<<<<<<< HEAD
 
=======

>>>>>>> 5ef49cd3f65fc0b5392b237d44ee324470cbed59
    h2{
        font-weight: 200;
        font-size: 70%;
        position: relative;
        bottom: 7px;
        text-align: left;
        text-align: center;
    }
<<<<<<< HEAD
 
    .trash{
        position: relative;
 
    }
 
 
 }
=======

    .trash{
        position: relative;
        
    }


}
>>>>>>> 5ef49cd3f65fc0b5392b237d44ee324470cbed59
