page-message {
.buttons{
    background-color: #000;
}
    .img{
        background-image:linear-gradient(#F53D4E,rgba(0,0,0,0.5)), url('../../assets/imgs/video.jpg');
        background-attachment: fixed;
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      
 
        }


    .comments{
        height:50px;
        width: 80%;
        border: 2px solid red;
        border-radius: 30px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
     
    
    }

    p{
        font-size: 100%;
    }

    .send{
        position: relative;
        left: 300px;
        bottom: 70px;
        width: 20px;
        height: 50px;  
        font-size: 150%;           
       
    }

    .foot{
        height: 70px;
    }

    .reply{
        border-radius: 20px;
        min-width: 320px;
    
        
    }
    
    .item{
        position: relative;
    
    }

    .title{
        background-color: white;
        height: 50px;
        font-weight: 100;
        
    }

    p{
        font-weight: 200;
        font-size: 70%;
        position: relative;
        resize: none;
        height: 25px;
                       
    }

    h1{
        text-align: left;
        font-weight: 200;
        font-size: 100%;
        text-align: center;
    }
    h2{
        font-weight: 200;
        font-size: 70%;
        position: relative;
        bottom: 7px;
        text-align: left;
        text-align: center;
    }

    .trash{
        position: relative;
        
    }
.icon{
    font-size: 50px;
    color: #000;
}

}
