page-message {
.buttons{
    background-color: #000;
}
    .img{
        background-image:linear-gradient(#F53D4E,rgba(0,0,0,0.5)), url('../../assets/imgs/video.jpg');
        background-attachment: fixed;
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      
 
        }


<<<<<<< HEAD
=======

>>>>>>> dda2be3f35357b6a53ef64820ed520de5dd6f794
    .comments{
        height:50px;
        width: 90%;
        border: 2px solid red;
        border-radius: 30px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
<<<<<<< HEAD
     
    
    }

    p{
        font-size: 100%;
    }

=======
 
 
    }
    .mesage{

    }
   
 
    p{
        font-size: 100%;
    }
 
>>>>>>> dda2be3f35357b6a53ef64820ed520de5dd6f794
    .send{
        position: relative;
        // left: 340px;
        bottom: 70px;
        width: 20px;
        height: 50px;  
        font-size: 150%;           
       
    }

    .foot{
        height: 70px;
    }

    .reply{
        border-radius: 30px;
        min-width: 300px;
    
        
    }
.list{
    list-style-type: none;
    margin: 5px;
//    display: block;
}
    
    .item{
        position: relative;
        // margin-bottom: 20px;
    }

    .title{
        // background-color: white;
        height: 50px;
        font-weight: 100;
        
    }

    p{
        font-weight: 200;
        font-size: 70%;
        position: relative;
        resize: none;
        // height: 25px;
                       
    }

    h1{
        text-align: left;
        font-weight: 200;
        font-size: 100%;
        // color: black;
        text-align: center;
    }
    h2{
        font-weight: 200;
        font-size: 70%;
        position: relative;
        bottom: 7px;
        text-align: left;
        text-align: center;
    }

    .trash{
        position: relative;
        
    }
<<<<<<< HEAD
.icon{
    font-size: 50px;
    color: #000;
}
=======
    

>>>>>>> dda2be3f35357b6a53ef64820ed520de5dd6f794

}
