page-see-messages {
//   .cm{
//         height:70px;
//         //  width: 100%;
//     }
    // .comments{
    //     height:80px;
    //     width: 100%;
    //     border: 2px solid red;
    //     border-radius: 30px;
    //     padding-left: 10px;
    //     padding-right: 10px;
    //     padding-top: 5px;
    // }
  
    // .pic{
    //     position: relative;
    //     // margin-bottom: 20%;
    //     bottom: 10px;
    //     align-content: center;
    //     justify-content: center;
    //     border-radius: 2px red;
    // }


    .text{
        margin-left: 70px;
        position: relative;
        font-size: 100%;
    }

    
    .list{
        // border: 2px solid rgb(143, 143, 143);
        margin-top: -20px;
    }

    .list2{
        margin-top: -28px
    }


    .datew{
        font-size: 10px;
        font-weight: 300;
        color: grey;
        margin-left: 7px;
        position: relative;
     
    }

    p{
        font-weight: 100;
        position: relative;
        bottom: 10px;
    }

    h3{
        text-align: right;
        color: #F53D4E;
        position: relative;
        bottom: 20px;
    
    }


   

    

}
