page-see-messages {
//   .cm{
//         height:100px;
//         //  width: 100%;
//     }
    // .comments{
    //     height:80px;
    //     width: 100%;
    //     border: 2px solid red;
    //     border-radius: 30px;
    //     padding-left: 10px;
    //     padding-right: 10px;
    //     padding-top: 5px;
    // }
  
    // .pic{
    //     position: relative;
    //     // margin-bottom: 20%;
    //     bottom: 10px;
    //     align-content: center;
    //     justify-content: center;
    //     border-radius: 2px red;
    // }


    .text{
        margin-left: 70px;
        position: relative;
        font-size: 100%;
    }

    
    .list{
        // border: 2px solid rgb(143, 143, 143);
        margin-top: -20px;
    }

    .list2{
        margin-top: -28px
    }


    .datew{
        font-size: 10px;
        font-weight: 300;
        color: grey;
        margin-left: 7px;
        position: relative;
     
    }

    p{
        font-weight: 100;
        position: relative;
        bottom: 10px;
        font-size: 1.5em;
    }

    h3{
        text-align: right;
        color: #F53D4E;
        position: relative;
        bottom: 20px;
    
    }

    // .img{
    //     background-image:linear-gradient(#F53D4E,#1e2a78), url('../../assets/imgs/video.jpg');
    //     background-attachment: fixed;
    //     background-color: black;
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     }


   h2{
       font-size: 200px;
   }

    

}
