page-profile {

    .img{
        background-image:linear-gradient(#F53D4E,rgba(0,0,0,0.5)), url('../../assets/imgs/video.jpg');
        background-attachment: fixed;
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 350px;

        }

        .pic{
            width: 40%;
            height: 45%;
            border-radius: 60%;
            position: relative;
            top: 4px;
        }

        h1{
            color: rgb(255, 255, 255);
            font-weight: 100;
        }

        h2{
            font-weight: 100;
        }

        // .butt{
        //     position: relative;
           
        // }

        .btn{
            position: relative;
            top: 45%;
            border-radius: 100%;
            width: 5px;
            height: 10;
            left: 30%;
        }

        .cont{
            background-color: rgb(255, 255, 255);
        }

        p{
            color: rgb(63, 59, 59);
            font-weight: 100;
        }

        .dash{
            background-color: rgba(53, 52, 52, 0.555);
            color: white;
            height: 24%;
            // border-left: 2px solid white;
            
        }

        // .list{
        //     position: relative;
        //     left: 20%;
        // }

       


}
