page-profile {
    font-family: 'Ubuntu', sans-serif;
    .img{
        background-image:linear-gradient(#F53D4E,rgba(0,0,0,0.5)), url('../../assets/imgs/video.jpg');
        height: 350px;
 
        }
 
        .pic{
           height: 130px;
           width: 130px;
           border-radius: 65px;
            position: relative;
            top: 30px;
            border: solid 3px rgb(255, 255, 255);
        }
 .phot{
     position: relative;
   bottom: 65px;
 }
.B{ 
    position: relative;
    bottom: 47px;
    margin-left: 360px;
}
// .con{
//     background-color: rgba(0, 0, 0, 0);
// }
        h1{
            color: rgb(255, 255, 255);
            font-weight: 100;
            // position: relative;
            bottom: 55%;
            font-size: 35px;
        }
 
        h2{
            font-weight: 100;
            color: rgb(134, 132, 132);
            position: relative;
            font-size: 1em;
            bottom: 60px;
        }
        h3{
            font-weight: 100;
            text-align: center;
            position: relative;
            bottom: 30%;
            font-size: 210%;
            color: rgb(134, 132, 132);
        }
        .h{
            top: 10px;
            position: relative;
        }
        h4{
            text-align: center;
            font-weight: 100;
            font-size: 90%;
            color: grey;
            position: relative;
            bottom: 34%;
        }
        .space{
            height: 100px;
            position: relative;
            bottom: 4px;
            font-size: 15px;
            font-weight: 100;
        }
         .btn{
            position: relative;
            top: 135px;
            color: #F53D4E;
            border-radius: 50px;
            font-size: 100%;
            }
        .cont{
            background-color: rgb(255, 255, 255);
            margin-top: 20px;
        }
 
        p{
            color: rgb(134, 132, 132);
            font-weight: 100;
            font-size: 120;
        }
 
        .dash{
            background-color: rgba(53, 52, 52, 0.555);
            color: white;
            height: 26%;
            font-size: 50%;
            position: relative;
            bottom: 29px;
 
        }
        .sbtn{
            position: relative;
            bottom: 335px;
            left: 90%;
            font-size: 190%;
            color: white;
        }
        .row{
            height:55vh;
            margin-top: 0px;
            // margin-bottom: 20px; 
          }
        
          .col{
              padding: 10px 10px 10px 10px;
              margin-bottom: 5px;
          }
        
          .grid{
              margin: 0;
            //   margin-bottom: 20px;
          }
        
         .card{
            border-radius: 20px;
            height: 24vh;
            width:98%;
            margin: 0;
            padding:0;
            margin-bottom:10px;
         } 
         
         .uploads{
             margin: 0;
             padding:0;
         }
         .avatar{
            background: linear-gradient(rgba(244, 48, 48, 0.809),rgba(0,0,0,0))
        }
        .header{
            color: black;
            text-align: center;
        }
        .fabi ,{
            box-shadow: 2px 2px 3px 1px black;
        }
       
}