page-display {

    .img{
        
            background-image:linear-gradient(#F53D4E,rgba(0,0,0,0.5)), url('../../assets/imgs/video.jpg');
            background-attachment: fixed;
            background-size: cover;
  
    }

    .Card{
        position: relative;
        top: 40%;
    }

}
