page-home {
    .flb {
        background-image: url('../../assets/Pics/841aa50cee7fa2b1aaac0e30b284759d.gif');
        background-size: cover;
        height:100%;
        width:100%;
        animation: pulse 1s linear forwards;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .Aligner-item {
        max-width: 50%;
      }
      .Aligner-item--top {
        align-self: flex-start;
      }
      .Aligner-item--bottom {
        align-self: flex-end;
      }
      #custom-overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100000;
        width:100%;
        background-color: #002a3e;
      }
      #custom-overlay img {
        display: block;
        margin: 0 auto;
        width: 50%;
        height: auto;
        animation: animation 4100ms linear infinite both ;
        animation-delay: 6s;
      }
#main{
  background: linear-gradient(rgba(0, 0, 0, 0.432)), url('../../assets/3f6b0af2345776f5f225a3f030e88726.jpg');
  background-size: cover;

}
}
