page-home {




  
    ion-card.card{
        border-radius: 12px;
        background-color: rgba(0, 0, 0, 0.363);
        position: relative;
    
        top: 30%;
    
    }

    .butts{
        // margin-right: 10px;
        text-align: center;
        // margin-left: 180px;
        
        // margin: 0 auto;
     
        // float: right;
    }
   // text-align: center;

  .combo{
    //    box-shadow: 2px 2px 4px;
       margin-block-end: 20px;
       border-radius: 12px;
       position: relative;
    //    right: 25%;
       top: 15px;
    //    width: 80%;
   }
   .h{
    //    margin-left: 40px;
       color: rgb(219, 219, 219);
   }
 
   .box{
    //    margin-left: 10px;
       margin-right: 46%;
   }
   .i{
       color: rgb(219, 219, 219);
    //    margin-right: 30px;
   }
   .img{
    background-image:linear-gradient(#F53D4E,#1e2a78), url('../../assets/imgs/video.jpg');
    background-attachment: fixed;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
   .head{
    
       color: rgb(248, 245, 245);
       text-shadow: 2px 2px 3px black;
    //    text-shadow: 5px 3px 3px ;
       margin-left: 50px;
       margin-right: 50px;
       border-radius: 8px;
       padding: 10px;
 
  
   }
   .tem{
       background-color: rgba(90, 82, 82, 0.562);
   }
   .log{
       color: whitesmoke;
       font-size: 200%;
       font-weight: 100;
   }
 //    #tem{
 //     margin-bottom: 10px;
 //    }
   .item{
    //    box-shadow: 2px 2px 4px;
       background-color: rgba(255, 255, 255, 0);
       color: white;
    //    width: 100px;
       margin-bottom: 20px;

 }

 h1{
    color: whitesmoke;
    position: relative;
    top: 5%;

 }
 
 h2{
  color: white;
  font-weight: 100;
 
 }
 
 .card1{
    position: relative;
    top: 28%;
    border-radius: 12px;
    color: black;
    background-color: rgba(0, 0, 0, 0.363);

 }
 
 .Card2{
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.363);
    position: relative;
    top: 21%;
 
 }
 
 .butt{
    width: 70%;
    height: 40px;
    font-size: 1.5em;
 
 }
 
 .butt2{
    width: 70%;
    height: 40px;
    font-size: 1.5em;
 }
 
 }
 
