page-home {

<<<<<<< HEAD
    //     font-family: 'Ubuntu', sans-serif;
    //    .section{
    //        background-image:linear-gradient(#F53D4E,rgba(0,0,0,0.5)), url('../../assets/imgs/video.jpg');
    //        background-attachment: fixed;
    //        background-color: black;
    //        background-size: cover;
    //        height: 38vh;
    //        // box-shadow: 2px 2px 4px;
    //       background-repeat: no-repeat;
    //       background-position: center;
    
    
        // font-family: 'Ubuntu', sans-serif;
    
    
    
        // }
        ion-card.card{
            border-radius: 12px;
            // box-shadow: 2px 2px 4px;
            background-color: rgba(0,0,0,0.5);
        }
    
        .butts{
            // margin-right: 10px;
            text-align: center;
            // margin-left: 180px;
            
            // margin: 0 auto;
         
            // float: right;
        }
        
       // }
    
      .combo{
        //    box-shadow: 2px 2px 4px;
           margin-block-end: 20px;
           border-radius: 12px;
           position: relative;
        //    right: 25%;
           top: 15px;
        //    width: 80%;
       }
       .h{
        //    margin-left: 40px;
           color: rgb(219, 219, 219);
       }
     
       .box{
        //    margin-left: 10px;
           margin-right: 62%;
       }
       .i{
           color: rgb(219, 219, 219);
        //    margin-right: 30px;
       }
       .img{
           background-color: rgb(245, 239, 239);
           background-image:linear-gradient(#F53D4E,rgba(0,0,0,0.5)), url('../../assets/imgs/video.jpg');
               background-attachment: fixed;
               background-color: black;
               background-size: cover;
     
       }
       .head{
        //    background-color: #F53D4E;
        //    box-shadow: 2px 2px 4px;
           color: rgb(248, 245, 245);
           text-shadow: 2px 2px 3px black;
        //    text-shadow: 5px 3px 3px ;
           margin-left: 50px;
           margin-right: 50px;
           border-radius: 8px;
           padding: 10px;
     
        //    border-bottom-left-radius: 100%;
        //    border-top-right-radius: 10px;
        //    border-bottom-right-radius: 100%;
        //    border-top-left-radius: 10px;
        //    box-shadow: 2px 2px 4px;
       }
       .tem{
           background-color: rgba(90, 82, 82, 0.562);
       }
       .log{
           color: whitesmoke;
           font-size: 200%;
           font-weight: 100;
       }
     //    #tem{
     //     margin-bottom: 10px;
     //    }
       .item{
        //    box-shadow: 2px 2px 4px;
           background-color: rgba(255, 255, 255, 0);
           color: white;
        //    width: 100px;
           margin-bottom: 20px;
    
     }
    // .item{
    //     margin-bottom: 20px;
    //     border-radius: 20px;
    //     // font-family: 'Original Surfer', cursive;
    //     font-family: 'Courgette', cursive;
    //     // font-family: 'Pacifico', cursive;
    //     // background-color: rgba(165, 109, 4, 0.747);
    //       box-shadow: 2px 2px 4px black;
    //            overflow:visible;
    
    //   }
     h1{
        color: whitesmoke;
        position: relative;
        top: 5%;
    
     }
     
     h2{
      color: white;
      font-weight: 100;
     
     }
     
     .card1{
        position: relative;
        top: 28%;
        border-radius: 12px;
        color: black;
        background-color: rgba(0, 0, 0, 0.363);
    
     }
     
     .Card2{
=======



  
    ion-card.card{
>>>>>>> dda2be3f35357b6a53ef64820ed520de5dd6f794
        border-radius: 12px;
        background-color: rgba(0, 0, 0, 0.363);
        position: relative;
    
        top: 30%;
    
    }
<<<<<<< HEAD
    
    .butt{
        width: 50%;
     }
     
     
     }
=======

    .butts{
        // margin-right: 10px;
        text-align: center;
        // margin-left: 180px;
        
        // margin: 0 auto;
     
        // float: right;
    }
    .v{
        // margin-left: 10px;
    }
    .vid{
        // text-align: center;
        // top: 30%;
    }
 
.vdo{
    
    // height: 260px;
    // width: 490px;
    // text-align: center;
}
  .combo{
    //    box-shadow: 2px 2px 4px;
       margin-block-end: 20px;
       border-radius: 12px;
       position: relative;
    //    right: 25%;
       top: 15px;
    //    width: 80%;
   }
   .h{
    //    margin-left: 40px;
       color: rgb(219, 219, 219);
   }
 
   .box{
    //    margin-left: 10px;
       margin-right: 62%;
   }
   .i{
       color: rgb(219, 219, 219);
    //    margin-right: 30px;
   }
   .img{
       background-color: rgb(245, 239, 239);
       background-image:linear-gradient(#F53D4E,rgba(0,0,0,0.5)), url('../../assets/imgs/video.jpg');
           background-attachment: fixed;
           background-color: black;
           background-size: cover;
 
   }
   .head{
    
       color: rgb(248, 245, 245);
       text-shadow: 2px 2px 3px black;
    //    text-shadow: 5px 3px 3px ;
       margin-left: 50px;
       margin-right: 50px;
       border-radius: 8px;
       padding: 10px;
 
  
   }
   .tem{
       background-color: rgba(90, 82, 82, 0.562);
   }
   .log{
       color: whitesmoke;
       font-size: 200%;
       font-weight: 100;
   }
 //    #tem{
 //     margin-bottom: 10px;
 //    }
   .item{
    //    box-shadow: 2px 2px 4px;
       background-color: rgba(255, 255, 255, 0);
       color: white;
    //    width: 100px;
       margin-bottom: 20px;

 }

 h1{
    color: whitesmoke;
    position: relative;
    top: 5%;

 }
 
 h2{
  color: white;
  font-weight: 100;
 
 }
 
 .card1{
    position: relative;
    top: 28%;
    border-radius: 12px;
    color: black;
    background-color: rgba(0, 0, 0, 0.363);

 }
 
 .Card2{
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.363);
    position: relative;

    top: 30%;

}

.butt{
    width: 50%;
 }
 
 
 }
 
>>>>>>> dda2be3f35357b6a53ef64820ed520de5dd6f794
