page-artisthome {
 
    .img{
        background-image:linear-gradient(#F53D4E,#1e2a78), url('../../assets/imgs/video.jpg');
        background-attachment: fixed;
        // background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
       
        }

.fabi{
    box-shadow: 2px 2px 3px black;
}

        .logo{
            color: rgb(236, 217, 217);
            position: relative;
            top: 2%;
         }
         .section{
            background-image:linear-gradient(#F53D4E,#1e2a78), url('../../assets/imgs/video.jpg');
            background-attachment: fixed;
            // background-color: black;
            background-size: cover;
            height: 31vh;
           background-repeat: no-repeat;
           background-position: center;
        }
        img{
            height: 100px;
            width: 100px;
            border-radius: 50px;
        }
        .dash{
            display: flex;
            align-content: center;
            text-align: center;
            height: 10vh;
            background-color: rgba(0, 0, 0, 0.288);
            justify-content: center;
            // padding: 10px;
        }
        p{
            margin: 25px;
            color: whitesmoke;
            margin-bottom: 1px;
        }
        .com{
            margin-right: 80px;
        }
        .time{
            margin-left: 50%;
  }

    // .section{
    //     background-image:linear-gradient(#F53D4E,rgba(0,0,0,0.5)), url('../../assets/imgs/video.jpg');
    //     background-attachment: fixed;
    //     background-color: black;
    //     background-size: cover;
    //     height: 40vh;
    //     box-shadow: 2px 2px 4px;
    //    background-repeat: no-repeat;
    //    background-position: center;
    // } 

    h1{
        color: rgb(100, 3, 3);
        font-size: 200%;
        font-weight: 100;
    }
    h2, p {
        color: #1e2a78;
        font-weight: 100;
    }
    .box{
        box-shadow: 5px 4px 7px;
        background-color: whitesmoke;
        border-radius: 5px;
        // width: 49%;
    }


        // .fabs{
        //     height: 50px;
        //     width: 85%;
        // }
        // .fabi{
        //     bottom:1%;
        //     // left:48vh;
        //     // margin-bottom: 30%;
        //     margin-left: 85vw;
        //     // top: 0;
            
  // }
        .comm{
            right: 20%;
        }

        

        .sec{
            display: flex;
            // margin-left: 20px;
        }
        .cont{
            margin: 8px;
        }
      

        ion-card.card{
            border-radius: 12px;
            // box-shadow: 3px 2px 4px 2px;
            border: 3px;
            margin-bottom: 12px;
        }
        .head{
            background-color: rgba(0,0,0,0.5);
            height: 25vh;
            margin-top: 2%;
            margin-left: 50px;
            border-radius: 20px;
            margin-right: 50px;
            box-shadow: 1px 2px 3px 1px;
        }
       img{
            height: 80px;
            width: 80px;
            border-radius: 50px;
        }
.datew{
    left: 30px
}
}
