page-artist-profile-update {
    
    .section{
        background-image:linear-gradient(#F53D4E,rgba(0,0,0,0.5)), url('../../assets/imgs/video.jpg');
        background-attachment: fixed;
        background-color: black;
        background-size: cover;
        height: 44%;
       background-repeat: no-repeat;
       background-position: center;
    }
    .item{
        // box-shadow: 2px 2px 2px ;
        // border-radius: 12px;
        position: relative;
        bottom: 20px;
        right: 100px;
        // margin-block-end: 1px;
    
    }
    img{
        width: 40%;
        height: 150px;
        border-radius: 60%;
        position: relative;
        top: 4px;
    }
    .butt{
        text-align: center;
        position: relative;
        bottom: 10%;
    }

    h1{
        color: rgb(255, 255, 255);
        font-weight: 100;
        font-size: 40px;
    }

    .btn{
        border-radius: 50%;
        width: 8%;
        height: 50px;
        background-color: white;
        color: #F53D4E;
        font-size: 200%;
        position: relative;
        bottom: 130px;
        left: 55%;
        font-weight: bold
    }

    .cont{
        background-color: rgb(255, 255, 255);
    }

    h2{
        font-weight: 100;
        text-align: center;
        position: relative;
        bottom: 40px;
        
    }
}
