// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

*{
    font-family: 'Exo 2', sans-serif;
}
.pic{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    box-shadow: 2px 2px 4px;
}
    .menu{
        background-image: linear-gradient(  maroon, maroon , red);
        // background-image:linear-gradient(#F53D4E,rgba(0,0,0,0.5)), url('../../assets/imgs/video.jpg');
        background-attachment: fixed;
        background-image: linear-gradient( rgb(179, 9, 9), rgb(68, 12, 17));
       background-repeat: no-repeat;
       background-position: center;

}
.line{
    // background-color: whitesmoke;
    font-size: 22%;
    // color: white;
    box-shadow: 2px 1px 4px black;
}

.liss{

    color: rgba(255, 255, 255, 0.158);


}

.buttons{
    margin-bottom: 8%;
    position: relative;
    // right: 25%;
    top: 35px;
    // margin: 20px;
    background-color: rgba(245, 61, 79, 0);



    color: rgb(255, 247, 247);

}




h1{
        font-size: 30px;
        color: whitesmoke;
        font-weight: 100;
}

// .menu{
    
//     // background-image:linear-gradient(#F53D4E,rgba(0,0,0,0.5)), url('../../assets/imgs/video.jpg');
//     background-attachment: fixed;
//     background-color: rgba(94, 10, 10, 0.74);
//     background-size: cover;
//    background-repeat: no-repeat;
//    background-position: center;

// }

