page-artist {
    .img{
        background-image:linear-gradient(#F53D4E,rgba(0,0,0,0.5)), url('../../assets/imgs/video.jpg');
        background-attachment: fixed;
        background-color: black;
        background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
    }
    ion-card.card{
        // margin-top: 20%;
        border-radius: 12px;
        box-shadow: 2px 2px 4px;
    }
    .bg{
        background-color:rgba(0,0,0,0.5); 
    }
    ion-label.label{
        color: whitesmoke;
    }
    .item{
        background-color: rgba(255, 255, 255, 0.192);
        // color: white;
        width: 80%;
        margin-bottom: 10px;
        position: relative;
        left: 10%;
        border-radius: 30px;
        // padding: 0.5px;
        padding-left: 7%;
        bottom: 20px;
        
       
    }
    .i{
        margin-right: 15px;
    }
    .butt{
        text-align: center;
    }

    h1{
        color: rgb(236, 217, 217);
        text-align: center;
        padding-top: 10%;
        font-size: 400%;
       font-weight: 100;
       position: relative;
       bottom: 60px;
    }

    


}
