page-scout-profile-update {
    font-family: 'Ubuntu', sans-serif;
    ion-card.card{
        border-radius: 12px;
        box-shadow: 2px 2px 4px 2px;
    }
    .section{
        background-image:linear-gradient(#F53D4E,rgba(0,0,0,0.5)), url('../../assets/imgs/video.jpg');
        background-attachment: fixed;
        background-color: black;
        background-size: cover;
        height: 44vh;
       background-repeat: no-repeat;
       background-position: center;
    }
    .item{
        // box-shadow: 2px 2px 2px ;
        // border-radius: 12px;
        // margin-block-end: 20px;
         position: relative;
         right: 100px;
         top: 40px;
       
    }
    img{
        width: 38%;
        height: 150px;
        border-radius: 60%;
        position: relative;
        top: 4px;
    }
    .butt{
        text-align: center;
        margin-top: 20%;
    }

    h2{
        font-weight: 100;
        text-align: center;
        position: relative;
    }

    h1{
        color: rgb(255, 255, 255);
        font-weight: 100;
        font-size: 40px;

    }

    .btn{
        height: 50px;
        width: 50px;
        position: relative;
        bottom: 120px;
        left: 13%;
        background-color: white;
        color: #F53D4E;

    }
}