page-users {
//  ion-fab{
//      width: 20px;
//  }
.fabs{
    width: 80%;
}

  .fabi{
            bottom:1%;
            left:48vh;
            margin-top: 2%;
            // top: 0;
            
        }
}
