page-comments {
.item2{
    border: 2px solid red;
    width: 60%;
    height: 10%;
}
.cm{
    background-color: rgb(122, 114, 114);  
    height: 5%;
    border-radius: 30px;
    padding-left: 8px;
    padding-top: 5px;
}
}
