page-comments {

<<<<<<< HEAD
 
    .img{
        background-image:linear-gradient(#F53D4E,#1e2a78), url('../../assets/imgs/video.jpg');
=======
    font-family: 'Ubuntu', sans-serif;
    .img{ 
        background-image:linear-gradient(#F53D4E,rgba(0,0,0,0.5)), url('../../assets/imgs/video.jpg');
>>>>>>> master
        background-attachment: fixed;
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
<<<<<<< HEAD
=======
       border: 45px red;
>>>>>>> master
        }

.cm{
    height:70px;
    //  width: 100%;
}
.custom-class-divider {
    color: yellow;
    background-color: peachpuff;
}
.comments{
    height:80px;
    width: 100%;
    border: 2px solid red;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 20%;
    padding-top: 15px;

    
}
h1{
    text-transform: capitalize;
    color: #000000;
}


h2{
    text-transform: capitalize;
 
}

.text{
    margin-left: 70px;
    position: relative;
    
}
.list{
    border: 0px solid red;
    margin-top: -20px;
}
.list2{
    margin-top: -29px;
    // padding:5px;
<<<<<<< HEAD
    margin-bottom: 20px;
 
   
=======
>>>>>>> master
}
.datew{
    font-size: 10px;
    font-weight: 300;
    color: grey;
    margin-left: 7px;
}
.btn{
<<<<<<< HEAD
    padding: 30px;
    height: 50px;
    width: 100%;
    font-size: 1em;
}

.item1{
//   background-color: #b5bad4;
=======
    // padding-top: 30px;
    // padding-bottom: 15px;
    width: 30%;
    height: 30px;

}
.commentsBtn{
    // border:2px solid red;
    background: white;
    padding-right: 10px;
}

>>>>>>> master
}

}