page-comments {

    font-family: 'Ubuntu', sans-serif;
    .img{
        background-image:linear-gradient(#F53D4E,rgba(0,0,0,0.5)), url('../../assets/imgs/video.jpg');
        background-attachment: fixed;
        background-color: black;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
       
        }

.cm{
    height:70px;
    //  width: 100%;
}
.comments{
    height:80px;
    width: 100%;
    border: 2px solid red;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}
h1{
    text-transform: capitalize;
    color: rgb(100, 3, 3);
}


h2{
    text-transform: capitalize;
    color: rgb(100, 3, 3);
}
// .pic{
//     position: relative;
//     // margin-bottom: 20%;
//     bottom: 10px;
//     align-content: center;
//     justify-content: center;
    
// }

.text{
    margin-left: 70px;
    position: relative;
}
.list{
    border: 0px solid red;
    margin-top: -20px;
}
.list2{
    margin-top: -28px
}
.datew{
    font-size: 10px;
    font-weight: 300;
    color: grey;
    margin-left: 7px;
}
.btn{
    padding: 30px;
}
}
